.container {
  font-weight: 700;
}

.title {
  text-align: center;
  font-size: 0.75rem;
  color: var(--Neon-Green);
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: var(--flow-space);
  font-weight: inherit;
}

.quote {
  font-size: var(--fs-quote);
  color: var(--Light-Cyan);
  text-align: center;
  display: block;
}
