/* CSS Variables */
:root {
  /* Primary */
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  /* Neutral */
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);

  /* Font */
  --fs-quote: 1.75rem;
  --ff-primary: "Manrope", sans-serif;

  /* Utils */
  --card-padding: 1.25rem;
  --card-max-width: 30rem;
  --md-radius: 0.75rem;
  --flow-space: 1.25rem;
}

@media screen and (min-width: 40em) {
  :root {
    --card-padding: 2.5rem;
  }
}

.app {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--Dark-Blue);
  font-family: var(--ff-primary);
}
